.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.modalWindow {
  width: 900px;
  height: 450px;
  background: #FFF;
  border-radius: 0.5em;
}

.modal-header {
  background: #2e7c31;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 0.5em 0.5em 0 0;
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0px;
  font-size: 1.5em;
  margin-left: 0.5em;
  color: rgb(255, 255, 255);
  width: 50%;
  display: inline
}

.icon {
  margin: 7px 4px 0 0;
  border-radius: 25%;
  width: 25px;
  height: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon:hover {
  cursor: pointer
}

.icon-close {
  background-color: red;
  color: #FFF
}

.modal-body {
  margin: 1em 2.5em;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-cover {
  width: 20%;
  height: 193px;
  background-repeat: no-repeat;
}

.modal-description {
  width: 80%;
  height: 11em;
  overflow: auto;
}

.modal-characters {
  width: 100%;
}

.modal-properties {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
}

li.elementProperty {
  word-break: keep-all;
  width: 60%;
  height: 40%;
  display: inline;
  margin: 0;
  padding: 0;
}

.property {
  width: inherit;
  margin: 0;
}

.rate {
  width: 40px;
  height: 40px;
}

.star {
  width: 40px;
  height: 40px;
  /*background-image: url('./icons/star.svg');*/
}

.nstar {
  width: 40px;
  height: 40px;
  /*background-image: url('./icons/nstar.svg');*/
}

